table {
    width: 100%;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(255,160,122,0.3);
}

.image {
    width: 150px;
    height: 99px;
    background-repeat: no-repeat;
    background-size: cover;
}