@media screen and (max-width: 1000px){
    form {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        grid-template: 
            'ar'
            'as'
            'd'
            'f';
        gap: 30px;
    }

    #image {
        height: 66vw;
    }

    #message {
        max-width: 85vw !important;
    }

    .portion {
        display: grid;
        grid-auto-flow: column;
        grid-template: 65px 9fr !important;
    }

    #portion {
        width: 100% !important;
    }

    .step-txt {
        max-width: 80vw !important;
    }

    .values {
        grid-auto-columns: 145px auto 40px;
    }
}

@media screen and (max-width: 550px) {
    .ingredients {
        grid-template: 'auto auto auto auto auto auto auto auto auto'
                        'auto auto auto auto auto auto auto auto auto'
                        'auto auto auto auto auto auto auto auto auto';
    }

    .quantity-hiba {
        grid-column-start: 1;
        grid-column-end: 10;
    }
    
    .raw-material-name {
        grid-column-start: 1;
        grid-column-end: 10;
    }
    
    .raw-material-quantity {
        grid-column-start: 1;
        grid-column-end: 5;
        width: 100%;
    }
    
    .raw-material-unit {
        grid-column-start: 5;
        grid-column-end: 9;
    }
}