@media screen and (max-width: 1000px){
    .container {
        grid-template:
            'h h'
            'as as'
            'ar ar'
            'f f';
    }

    article {
        grid-template-columns: 1fr 1fr 1fr;
    }

    aside .dropdown-content{
        display: none;
    }

    #filter-h2 {
        display: block;
    }

    .image {
        height: 20vw;
    }
}

@media screen and (max-width: 550px){
    article {
        grid-template-columns: 1fr 1fr;
    }

    .image {
        height: 25vw;
    }
}